@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply text-defaultFontColor;
  @apply text-defaultFontColor;
}

.design-bar {
  background-image: url('/images/design-bar.png');
  background-size: auto 100%;
  margin-left: calc(-50vw + 50%);
  margin-right: calc(-50vw + 50%);
  background-size: contain;
}

/* .how-it-works-bg {
  background-image: url('/images/green-bg.png');
  background-repeat: no-repeat;
  background-size: contain;
} */

.the-competition-bg {
  background-image: url('/images/the-competition-bg.png');
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
}

.contact-us-bg {
  background-image: url('/images/contact-us-bg.png');
  background-repeat: no-repeat;
  background-size: contain;
}

.ribbon-up {
  background-image: url('/images/ribbon-up.png');
  background-repeat: no-repeat;
  background-size: contain;
}

.ribbon-down {
  background-image: url('/images/ribbon-down.png');
  background-repeat: no-repeat;
  background-size: contain;
}

.how-it-works-heading {
  font-family: "Frutiger";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -0.03em;
}

.how-it-works-content {
  font-family: "Frutiger";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
  letter-spacing: -0.02em;
}
